<div class="row feed">
<div class="col-md-4">
<h4>Login:</h4>
<br><br>
<input type="Text" size="30" placeholder="UserName" ng-model="username" >
<br><br>
<input type="password" size="30" placeholder="Password" ng-model="password">
<br><br>
<button type="button" class="btn" ng-click="signin(username,password)">Sign In</button>
<br><br>
<a href="#!/signup">Not a member? Signup</a>
</div>
<div class="col-md-8">
<div class="new-meow">
<input type="text" class="form-control" placeholder="new meow" ng-model="newMeow">
<button type="button" class="btn" ng-click="submitNewMeow()">Submit</button>
</div>
<h3 ng-repeat="meow in meows">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    {{meow.text}}
    <a><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeMeow(meow)"></span></a>
</h3>   
</div>
</div>